@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Merienda:wght@300..900&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');
*{
    font-family: "Merienda", cursive;
}
body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-size: cover;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./src/imagenes/background-login.jpg') no-repeat center center fixed;
    background-size: inherit;
    filter: blur(5px); /* Ajusta el valor para aumentar o disminuir el desenfoque */
    z-index: -1;
}

/* barra de navegacion */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.178);
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    font-size: 25px;
    color:white;
    font-family: "Kalam", cursive; 
}
.nav-link:hover{
    font-size: 25px;
    color: white;
    background:#9B3922 ;
    font-family: "Kalam", cursive; 
    border-radius: 5%;
}
/* POPULARES */
.populares {
    padding: 50px;
    text-align: center; /* Centra el título */
    font-family: "Merienda", cursive;
    color: aliceblue;
}
.populares h1{
    padding: 50px 0px 20px 0px;
}
.carousel {
    width: 60%; /* Ajusta el ancho del carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
}
  
.carousel-inner img {
    height: 400px; /* Ajusta la altura de las imágenes */
    object-fit: cover; /* Asegura que las imágenes cubran el contenedor sin distorsión */
}
  
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.2); /* Fondo semitransparente para el texto del carrusel */
    padding: 10px; /* Espaciado interno */
}

/* SECCION POSTRES*/
.postres{
    text-align: center;
    padding-top: 10px;
}
h3{
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 50px;
}
.btn{
    background: #5F6F52;
    border: 0;
}
.btn:hover{
    background: #481E14;
}
.card-postres{
    background:#fefae0;
    padding: 15px;
    border-radius: 25px;
    
}
.card-postres h5{
    padding: 15px 0px 5px 0px;
}


.card-img-top{
    border-radius: 15px;
    width: 100%;
    height: 180px; /* Mantener proporción */
    max-width: 600px; /* Opcional: limite de tamaño */
}


.recetas-postres{
    padding: 45px;
}

/* Platos tipicos */
a{
    text-decoration: none;
    padding: 10px;
    color:black;
}
.titulo-populares{
    text-decoration: none;
    padding: 10px;
    color:white;
}

.intrucciones{
    background: #5F6F52;
    border-radius: 20px;
}
.card {
    width: 300px;
    height: 250px;
    background:transparent;
    border-radius: 20px ;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s ease-in-out;
}

  
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;    /* Ajusta la imagen para cubrir todo el contenedor */
    object-position: center;
    border-radius:20px ;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
}
.platillos{
    padding: 45px;
}
.textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}
  
.textBox > .text {
    font-weight: bold;
}
  
.textBox > .head {
    font-size: 20px;
}
  
.textBox > .price {
    font-size: 17px;
}
  
.textBox > span {
    font-size: 12px;
    color: lightgrey;
}
  
.card:hover > .textBox {
    opacity: 1;
}
  
.card:hover > img {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
}
  
@keyframes anim {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0);
    }
}
  
.card:hover {
  transform: scale(1.04) rotate(-1deg);
}

/* Bebidas */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    
}

.flip-card-back p{
    text-align: center;
    margin: 0;
    padding: 0px 0px 20px 0px;
}
.flip-card-back a:hover{
    /* background: transparent; */
    background:#5F6F52;
    border-radius: 20px;
    
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    border-radius: 1rem;
}
  
.flip-card-front.card1{
    color: #FFFF80;
    background: url(./src/imagenes/limonada-casera.jpg) no-repeat center center;
    background-size: cover;
}
.flip-card-front p{
    background: rgba(0, 0, 0, 0.548);
    
}

.flip-card-front.card2{
    color: #FF204E;
    background: url(./src/imagenes/Agua-de-Jamaica-.jpg) no-repeat center center;
    background-size: cover;
}

.flip-card-front.card3{
    color: #FBFFDC;
    background: url(./src/imagenes/margarita.jpg) no-repeat center center;
    background-size: cover;
}

.flip-card-front.card4{
    color: #E384FF;
    background: url(./src/imagenes/limonada-lavanda.avif) no-repeat center center;
    background-size: cover;
}

.flip-card-front.card5{
    color: #FC2947;
    background: url(./src/imagenes/mocktail.jpg) no-repeat center center;
    background-size: cover;
}

.flip-card-front.card6{
    color: #A555EC;
    background: url(./src/imagenes/Smoothie.webp) no-repeat center center;
    background-size: cover;
}

.flip-card-front.card7{
    color: #F3EEEA;
    background: url(./src/imagenes/agua-de-coco.webp) no-repeat center center;
    background-size: cover;
}

.flip-card-front.card8{
    color: #FF6D28;
    background: url(./src/imagenes/te-helado-durazno.jpg) no-repeat center center;
    background-size: cover;
}


  
.flip-card-back.card1 {
    background: #FFFF80;
    color: black;
    transform: rotateY(180deg);
    padding: 5px;
}
.flip-card-back.card2 {
    background: #A0153E;
    color: black;
    transform: rotateY(180deg);
    padding: 5px;
}
.flip-card-back.card3 {
    background: #FBFFDC;
    color: black;
    transform: rotateY(180deg);
    padding: 5px;
}
.flip-card-back.card4 {
    background: #E384FF;
    color: black;
    transform: rotateY(180deg);
    padding: 5px;
}
.flip-card-back.card5 {
    background: #FC2947;
    color: black;
    transform: rotateY(180deg);
    padding: 5px;
}
.flip-card-back.card6 {
    background: #A555EC;
    color: black;
    transform: rotateY(180deg);
    padding: 5px;
}
.flip-card-back.card7 {
    background: #F3EEEA;
    color: black;
    transform: rotateY(180deg);
    padding: 5px;
}
.flip-card-back.card8 {
    background: #FF6D28;
    color: black;
    transform: rotateY(180deg);
    padding: 5px;
}

.footer{
    padding-top: 80px;
    color: white;
    background: rgba(0, 0, 0, 0.404);
}
.bebidas-contenedor{ 
    padding-top: 50px;
}
.redes p{
    font-size: 20px;
}
.redes h2{
    text-align: center;

}
.redes i{
    color: white;
    font-size: 50px;
}
.redes .bi-facebook:hover{ 
    color:  #362FD9;
}
.redes .bi-instagram:hover{ 
    color:  rgba(204,35,102,1);
}
.redes .bi-linkedin:hover{ 
    color:  #80B3FF;
}

.footer .derechos-autor{
    padding: 50PX;
    font-size: 12px;
    text-align: center;
}
